fastapi
uvicorn[standard]
tortoise-orm
websockets
onvif-zeep
pydantic-settings
aiofiles
httpx
passlib[bcrypt]
pyjwt
bcrypt==4.0.1
unidecode
python-multipart
pyLoRa
gmqtt
zeroconf
pywifi
netifaces
rpi-lgpio
spidev